/* styles.css */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: #1e90ff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0px;
  font-size: 3em;
}

form {
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff6347;
  color: #fff;
  
}
button:hover {
  background-color: #ff4500;
}

main {
  padding: 20px;
}

/* Current Weather Section */
#current-weather {
  background-color: #87cefa;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.weather-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon img {
  width: 100px;
  height: 100px;
}

.weather-info {
  margin-left: 20px;
}

.weather-info p {
  margin: 5px 0;
}

/* Forecast Section */
#forecast {
  background-color: #f0e68c;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 100px;
  text-align: center;
}

.forecast-item img {
  width: 50px;
  height: 50px;
}

/* Additional Information Section */
#additional-info {
  background-color: #98fb98;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.additional-details p {
  margin: 10px 0;
}

/* Footer Section */
footer {
  background-color: #1e90ff;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}