*{
  margin:0;
  padding:0;
}
body{
  background-color:rgb(63, 83, 77);
  text-align: center;
}
.container{
  height:70vh;
  display:flex;
  /* flex-wrap: wrap; */
  justify-content: center;
align-items: center;
gap:1.5vmin;
}
.game{
height:60vmin;
width:60vmin;
display:flex;
flex-wrap: wrap;

justify-content: center;
align-items: center;
gap:1.5vmin;
}
.box{
  font-size: 8vmin;
color: rgb(12, 17, 63);
height:18vmin;
width:18vh;
border-radius: 1rem;
border:none;
box-shadow:0 0 1rem rgba(0,0,0,0.1)
}
#reset-btn{
  padding:1rem;
  font-size:1.25rem;
  background-color:rgb(39, 37, 33);
  color:white;
}